<!----about---->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1>Clyde D'Souza</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 text-justify">
            <div ng-repeat="d in description">
                <!-----
                    The code snippet below is an Angular makrup. We have used the alias d to access the property description in the scope of IndexController and using the alias we access the values of the key named p.
                ---->
                <p>{{ d.p }}</p>
            </div>
        </div>
    </div>
</div>