<div class="container">
    <div class="row">
        <div class="col-md-12  col-xs-12">
            <br />
            <hr />
            <h3><a href="https://github.com/ngClyde" class="btn btn-success"><i class="fa fa-github"></i>&nbsp;Visit Angular.js resources by Clyde D'Souza</a>
            <a href="https://github.com/ngClyde/ngClyde.github.io" class="btn btn-info"><i class="fa fa-eye"></i>&nbsp;View this project on github</a></h3>
            <p>&copy; Clyde D'Souza {{ footerDate | date:'yyyy'}}</p>
        </div>
    </div>
</div>