<!--projects-->
<div class="container" ng-controller="ProjectsController">
    <h2>Projects</h2>
    <div ng-hide="projectsFlag">
        <div class="alert alert-warning">We couldn't load all the projects this time due to some internal errors. We apologise for this.</div>
    </div>
    <div ng-show="projectsFlag">
        <div>
            <input class="form-control" ng-model="projectsFilter" placeholder="Search projects"/>
            <br />
        </div>
        <div ng-repeat="p in projects | filter:projectsFilter">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <img ng-src="{{p.image}}" class="img-responsive" />
                </div>
                <div class="col-md-8 col-xs-12">
                    <h3>{{ p.title }}</h3>
                    <p>{{ p.description }}</p>
                    <a ng-href="{{p.url}}">{{ p.url }}</a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>